/* unvisited link */
a:link {
  color: #f0f0f0;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey;
}

.footerrStyle {
    background: #36454F;
    padding-top: 20px;
}
 
